node_modules
.env
.gitignore
package-lock.json

admin.controller.js
gdohead.controller.js
projectmanager.controller.js
superadmin.controller.js
user.controller.js 


admin.middleware.js
gdohead.middleware.js
projectmanager.middleware.js
superadmin.middleware.js
verifyToken.js

admin.route.js
gdohead.route.js
projectmanager.route.js
superadmin.route.js
users.route.js


super-admin.route.js

